/* #session-timer{
    border:2px solid pink;
}

#break-timer{
    border:2px solid green;
} */

.timer{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}

#buttons{
    display:flex;
}

#time-left{
    background-color:lightgray;
    font-family:console;
    padding:10px;
    width:100%;
}

