#app{
  width:100%;
  height:100vh;
  margin:0px;
  display:flex;
  flex-direction:column;
  background-color:aquamarine;
  align-items: center;
  align-content: space-around;
}

#userTimes{
  width:100%;
  display:flex;
  width:25%;
  justify-content: space-between;
  padding:20px;
  
}

#userTimes>button{
  border-radius:50%;
  padding:2%;

}

#session,#break{
  display:flex;
  
  background-color:palegoldenrod;
  box-shadow:15px 15px 0 orange;
  padding:10px;
  
  

}

#timerBox{
  display:flex;
  justify-content: center;
  background-color:antiquewhite;
  box-shadow:15px 15px 0 pink;
  width:50%;
 
}

button{
  color:black;
  outline:black;
  background-color: transparent;
  border-radius:10px;
  padding:10px;
}

