#app{
  width:100%;
  display:flex;
  flex-direction:column;
}

#userTimes{
  width:100%;
  display:flex;
  justify-content: space-around;
}

#userTimes>button{
  border-radius:50%;
  padding:2%;
}

#session,#break{
  display:flex;

}

#timerBox{
  display:flex;
  justify-content: center;
 
}